<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="Title" name="Title" id="Title">Title</label>
    <input
      type="Title"
      name="Title"
      id="Title"
      placeholder="Add Task"
      [(ngModel)]="Title"
    />
  </div>
  <div class="form-control">
    <label for="Date" name="Date" id="Date">Date and Time</label>
    <input
      type="Date"
      name="Date"
      id="Date"
      placeholder="Add Date and Time"
      [(ngModel)]="Date"
    />
  </div>
  <div class="form-control form-control-check">
    <label for="Reminder">Reminder</label>
    <input
      type="checkbox"
      name="Reminder"
      id="Reminder"
      [(ngModel)]="Reminder"
    />
  </div>
  <input type="submit" value="Save Task" class="btn btn-block" />
</form>
